@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

*{
	padding: 0;
	margin: 0;
}


.page-header {
    background: linear-gradient(rgba(0, 0, 0, .55), rgba(0, 0, 0, .55)),
    url(../image/bg6.jpg) center center no-repeat;
    background-size: cover;
}
.page-header a{
    text-decoration: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}
.active{
    color: #ffcc00 !important;
}